<div id="project-hub-mediterrani" class="game-module hidden">
    <h3 data-i18n="med_project_title">Projecte Mediterrani</h3>

    <div id="med-activities-menu" class="activities-grid">
        <div class="activity-card" onclick="openMediterraniActivity('capitals')">
            <div class="act-icon">
                <img src="assets/images/activities/mediterrani/cards/targeta_mediterrani_capitals.png" alt="Capitals" class="act-img">
            </div>
            <div class="card-content">
                <div class="card-title" data-i18n="act_capitals_title">Capitals</div>
                <div class="card-desc" data-i18n="act_capitals_desc">Aprèn les capitals del Mediterrani</div>
            </div>
        </div>

        <div class="activity-card" onclick="openMediterraniActivity('test_mar')">
            <div class="act-icon">
                <img src="assets/images/activities/mediterrani/cards/targeta_mediterrani_elmardelmig.png" alt="Mar del Mig" class="act-img">
            </div>
            <div class="card-content">
                <div class="card-title" data-i18n="act_sea_title">El Mar del Mig</div>
                <div class="card-desc" data-i18n="act_sea_desc">Vídeo i Test de coneixements</div>
            </div>
        </div>

        <div class="activity-card" onclick="openMediterraniActivity('map')">
            <div class="act-icon">
                <img src="assets/images/activities/mediterrani/cards/targeta_mediterrani_paisos.png" alt="Mapa" class="act-img">
            </div>
            <div class="card-content">
                <div class="card-title" data-i18n="act_map_title">Mapa del Mediterrani</div>
                <div class="card-desc" data-i18n="act_map_desc">Identifica els països al mapa</div>
            </div>
        </div>

        <div class="activity-card" onclick="openMediterraniActivity('biodiversitat')">
            <div class="act-icon">
                <img src="assets/images/activities/mediterrani/biodiversitat/targeta_mediterrani_biodiversitat.png" alt="Biodiversitat del Mediterrani" class="act-img">
            </div>
            <div class="card-content">
                <div class="card-title">Biodiversitat del Mediterrani</div>
                <div class="card-desc">Descobreix espècies i ecosistemes mediterranis</div>
            </div>
        </div>
    </div>
</div>

