<div id="project-hub-solidart" class="game-module hidden">
    <div id="solidart-activities-menu" class="activities-grid">
        <div class="activity-card" onclick="openSolidartActivity('quadres')">
            <div class="activity-card__media">
                <img src="assets/images/activities/solidart/artworks/the_scream.jpg" alt="Quadres"
                    class="activity-card__image">
            </div>
            <div class="activity-card__content">
                <div class="activity-card__title" data-i18n="act_tr_quadres_title">Quadres i autors</div>
                <div class="activity-card__description" data-i18n="act_tr_quadres_desc">
                    Endevina l'autor o el corrent artístic de cada obra.
                </div>
            </div>
        </div>

        <div class="activity-card" onclick="openSolidartActivity('quadres2')">
            <div class="activity-card__media">
                <img src="assets/images/activities/solidart/artworks/the_scream.jpg" alt="Quadres i autors 2"
                    class="activity-card__image">
            </div>
            <div class="activity-card__content">
                <div class="activity-card__title">Quadres i autors 2</div>
                <div class="activity-card__description">Tria la imatge correcta per a l'autor o corrent indicat.</div>
            </div>
        </div>
    </div>

    <div data-fragment="fragments/activities/solidart/solidart-activity-quadres.html"></div>
    <div data-fragment="fragments/activities/solidart/solidart-activity-quadres2.html"></div>
</div>
