                    <!-- PROJECTE: Paralímpics -->
                    <div id="project-hub-paralimpics" class="game-module hidden">
                        <h3 data-i18n="par_project_title">Projecte Paralímpics</h3>
                        <div id="par-activities-menu" class="activities-grid">
                            <div class="activity-card" onclick="openParalimpicsActivity('microbit')">
                                <div class="activity-card__media">
                                    <img src="assets/images/activities/paralimpics/cards/targeta-microbit.png" alt="Microbit" class="activity-card__image">
                                </div>
                                <div class="activity-card__content">
                                    <div class="activity-card__title" data-i18n="act_microbit_title">Control de la Micro:bit</div>
                                    <div class="activity-card__description" data-i18n="act_microbit_desc">Demostra què saps sobre la
                                        placa</div>
                                </div>
                            </div>
                        </div>

                        <div data-fragment="fragments/activities/paralimpics/paralimpics-activity-microbit.html"></div>
                    </div>
